<div class="header__menuWrapper">

    <div class="menuWrapper__logo">
        <img src="./static/img/icons/header/logo-header.svg" alt="">
    </div>

    <div class="menuWrapper__nav">
        <span class="nav-item">СТАРТЕРЫ</span>
        <span class="nav-item">ЗАКУСКИ</span>
        <span class="nav-item">САЛАТЫ</span>
        <span class="nav-item">СУПЫ</span>
        <span class="nav-item">ГОРЯЧЕЕ</span>
        <span class="nav-item">ДЕСЕРТЫ</span>
        <span class="nav-item">НАПИТКИ</span>
    </div>

    <div class="menuWrapper__hiddenMenu">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <script src="./js/jquery/jquery.js"></script>
    <script src="./js/scripts/hidden-menu.js"></script>
</div>