header {
    height: 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 8px #1f1f1f;
    z-index: 99;
    background-color: #fff;
}

.header__menuWrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include divCen(70%);
    min-width: 885px;

    .menuWrapper__logo {
        width: 5rem;
        img {
            width: 100%;
        }
    }

    .menuWrapper__nav {
        span {
            font-size: 0.7em;
            font-weight: 600;
            padding: 0 10px;
            cursor: pointer;
        }
    }
}